body{

background:#121212;

color:white;

font-family:Arial;

text-align:center;

padding:40px;

}

button{

background:#0d6efd;

color:white;

border:none;

padding:15px 30px;

font-size:20px;

border-radius:10px;

}
